<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="end">¿Quienes Somos?</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div class="lis"   >
    <img class="iconito" src="https://politecnicointernacional.edu.co/sw/sites/default/files/glazed-cms-media/tegnologias_0.jpg">
    <ion-title class="titulo">Cocina</ion-title>
  </div>
<ion-list>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="light">¿Quienes Somos?</ion-card-title>
      <!--<img src="https://politecnicointernacional.edu.co/sw/sites/default/files/glazed-cms-media/calidad-01_3.jpg">-->
    </ion-card-header>
  
    <ion-card-content>
      Somos un grupo por empresarios que creen en Colombia, deseosos de retribuir a la sociedad y al país los rendimientos económicos originados por sus actividades. El Politécnico Internacional es una Institución de Educación Superior constituida como una fundación privada sin ánimo de lucro, la cual contribuye a la formación integral de la juventud colombiana, para hacer realidad sus sueños a través de la empleabilidad o el emprendimiento.
      Es una Institución comprometida con el desarrollo laboral de sus egresados y es reconocida por las destacadas competencias prácticas y por los altos estándares de calidad y servicio que desarrolla en sus estudiantes; los cuales tienen una gran acogida en el sector productivo.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="light">Lo que nos diferencia</ion-card-title>
      <!--<img src="https://politecnicointernacional.edu.co/sw/sites/default/files/glazed-cms-media/politecnico-internacional-institucion-de-educacion-superior-colombia.jpg">-->
    </ion-card-header>
  
    <ion-card-content>
      Modelo decentralizado, la ubicación estratégica de nuestras cuatro sedes facilita a los jóvenes poder ir a estudiar sin incurrir en mayores gastos, debido a la cercanía de estas a sus lugares de vivienda o trabajo. Desde el 2019 implementamos nuestra modalidad virtual, dando más cobertura y llegando a más personas a nivel nacional.
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>
