<ion-header no-border>
  <div class="login-header ion-padding">
    <img class="logo-img" src="../../assets/img/fondo.PNG" alt="">
  </div>
</ion-header>

<ion-content>
  <div class="center">
    <div heading-column-lr>
      <h1 big-heading>Login</h1>
      <h2 small-heading>SING UP</h2>
    </div>
    <ion-label>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, cumque.
    </ion-label>

    <ion-item transparent>
      <img icon-small src="../../assets/icon/perfil.png" alt="">
      <ion-input placeholder="Usuario" type="text"></ion-input>
    </ion-item>
    <ion-item transparent>
      <img icono-samll src="../../assets/icon/contrasena.png" alt="">
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <div linespace></div>
    <ion-button color="primary" class="ion-button-class button-login" shape="round" fill="solid" size="large"
      expand="block">Ingresar</ion-button>
    <ion-button color="medium" class="button-new" shape="round" fill="solid" size="large" expand="block">Crear Cuenta
    </ion-button>
  </div>

</ion-content>