<ion-header no-border> </ion-header>

<ion-content>
  <div class="fondo-login">
    <main class="contenedor">
      <a href="https://politecnicointernacional.edu.co">
        <img class="logo-img" src="../../assets/img/login-icono.png" alt="" />
      </a>

      <ion-item transparent>
        <img
          icon-small
          src="../../assets/icon/perfil.png"
          alt="Icono usuario"
        />
        <ion-input
          placeholder="Usuario"
          type="text"
          name="usuario"
          [(ngModel)]="email"
        ></ion-input>
      </ion-item>

      <ion-item transparent>
        <img
          icon-small
          src="../../assets/icon/contrasena.png"
          alt="Icono contrasena"
        />
        <ion-input
          placeholder="Contraseña"
          type="password"
          name="password"
          [(ngModel)]="password"
        ></ion-input>
      </ion-item>

      <div class="botones">
        <ion-button class="boton" shape="round" (click)="onSubmitLogin()"
          >Ingresar</ion-button
        >

        <ion-button class="boton" shape="round" (click)="signInWithGoogle()"
          ><ion-icon slot="start" name="logo-google"></ion-icon>inicia sesión
          con Google</ion-button
        >

        <ion-button class="boton" shape="round" [routerLink]="['/registro/']"
          >Únete a nosotros</ion-button
        >
      </div>
    </main>
  </div>
</ion-content>

<!--
<ion-header no-border>
  <div class="login-header ion-padding">
    <img class="logo-img" src="../../assets/img/fondo.PNG" alt="">
  </div>
</ion-header>

<ion-content>
  <div class="center">
    <div heading-column-lr>
      <h1 big-heading>Login</h1>
      <h2 small-heading>SING UP</h2>
    </div> 
    <ion-label>Ingresar datos del estudiante para iniciar formacion</ion-label>  

    <ion-item transparent>
      <img icon-small src="../../assets/icon/perfil.png" alt="">
      <ion-input placeholder="Usuario" type="text"></ion-input>
    </ion-item>
    <ion-item transparent>
      <img icono-samll src="../../assets/icon/contrasena.png" alt="">
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <div linespace></div>
    <ion-button color="primary" class="ion-button-class button-login" shape="round" fill="solid" size="large"
      expand="block" [routerLink]="['/inicio/']">Ingresar</ion-button>
    <ion-button color="medium" class="button-new" shape="round" fill="solid" size="large" expand="block" [routerLink]="['/registro/']">Crear Cuenta
    </ion-button>
    <ion-button color="Light" class="button-google" shape="round" fill="solid" size="large" expand="block" (click)="signInWithGoogle()">
      <ion-icon slot="start" name="logo-google"></ion-icon>iniciar con google</ion-button>
  </div>

</ion-content>
-->
