<ion-header>
  <ion-toolbar>
    <ion-title>Tips de Cocina</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/tips/cheff.jpg">
      </ion-avatar>
      <h2>Pescado a la Plancha</h2>
    </ion-item>


    <img src="assets/img/tips/tip_pez.jpg">

    <ion-card-content class="parrafos">
      <p>
        Para evitar que el pescado a la plancha se queme antes que se cueza o simplemente no tiene una plancha, tiene
        dos soluciones Si tienes plancha, marca el pescado por un lado y por el otro y colócalo en una charola y al
        horno.
      </p>
      <p>
        Le queda blanco y bien hecho por dentro.
      </p>
      <p>
        Colócalo en una charola, en crudo, y métalo en el horno bien caliente, cuando esté dorado por encima voltéelo y
        una vez dorado baje la temperatura del horno hasta que esté hecho..
      </p>

    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up-outline"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="document-text-outline"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>


  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/tips/cheff.jpg">
      </ion-avatar>
      <h2>Arroz Blanco</h2>
    </ion-item>


    <img src="assets/img/tips/arrozBlanco.jpg">

    <ion-card-content class="parrafos">
      <p>
        Si desea que el arroz le quede realmente blanco, añada al agua de cocción unas cuantas gotas de jugo de limón o
        de vinagre.
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up-outline"></ion-icon>
          <div>50 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="document-text-outline"></ion-icon>
          <div>1 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          12h ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/tips/cheff.jpg">
      </ion-avatar>
      <h2>Asados</h2>
    </ion-item>


    <img src="assets/img/tips/asado.jpg">

    <ion-card-content class="parrafos">
      <p>
        Cuando esté haciendo un asado a la parrilla, la carne sabrá mejor aún si le echa al fuego una ramita de romero o
        tomillo.
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up-outline"></ion-icon>
          <div>10 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="document-text-outline"></ion-icon>
          <div>30 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          1d 3h ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>


  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/tips/cheff.jpg">
      </ion-avatar>
      <h2>Batir claras a punto nieve</h2>
    </ion-item>


    <img src="assets/img/tips/puntoNieve.jpg">

    <ion-card-content class="parrafos">
      <p>
        Los huevos deben estar a temperatura ambiente, tengo gran cuidado de que su batidor este limpio y sin restos de
        grasas (esto impediría que las claras subieran como es debido). Puede usted añadir a penas una pizca de
        bicarbonato o levadura en polvo.
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up-outline"></ion-icon>
          <div>3 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="document-text-outline"></ion-icon>
          <div>3 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          1d 5h ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>