<ion-header>
  <ion-toolbar>
    <ion-title>Videos Cocina</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>
            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=97i0g-moJ4g&t=18s" target="_blank" ><img
                src="/src/assets/img/lomoWellington.jpg" width="2px" height="2px"> Lomo Wellignton</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>
            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=lRe4glROZPk&t=65s" target="_blank">Pollo Tandoori</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>
            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=dWVC7SzgVjg" target="_blank">Receta Cheesecake</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>
            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=YnhPW0e6wao" target="_blank">Ensalda Mediterranea</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>

            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=-JyNkzRopb8" target="_blank">Limpieza Langostinos</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>

            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=ASuvZaNZ3Jc" target="_blank">Como Deshuesar un Pollo</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>

            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=E2vqwF3ykWM" target="_blank">Lenguado de Masa Filo</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>

            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=mTkqOmlqQTE" target="_blank">Pie de Chocolate</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>
            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=97i0g-moJ4g&t=18s" target="_blank">Lomo Wellignton</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>
            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=lRe4glROZPk&t=65s" target="_blank">Pollo Tandoori</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>
            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=dWVC7SzgVjg" target="_blank">Receta Cheesecake</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>
            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=YnhPW0e6wao" target="_blank">Ensalda Mediterranea</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>

            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=-JyNkzRopb8" target="_blank">Limpieza Langostinos</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>

            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=ASuvZaNZ3Jc" target="_blank">Como Deshuesar un Pollo</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>

            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=E2vqwF3ykWM" target="_blank">Lenguado de Masa Filo</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-icon></ion-icon>
            </ion-card-header>

            <ion-card-content>
              <a href="https://www.youtube.com/watch?v=mTkqOmlqQTE" target="_blank">Pie de Chocolate</a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>