

<ion-content >
  <div class="center">
      <h2 small-heading>Registro</h2>
    
    

    <ion-item transparent>
      <ion-input placeholder="Nombres" type="text"></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-input placeholder="Apellidos" type="text"></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-input placeholder="Direccion" type="text"></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-input placeholder="Telefono" type="number"></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-input placeholder="Usuario" type="text"></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <div linespace></div>
    <ion-button color="primary" class="ion-button-class button-saved" shape="round" fill="solid" size="large"
      expand="block">Guardar</ion-button>
    <ion-button color="medium" class="button-back" shape="round" fill="solid" size="large" expand="block">Volver
    </ion-button>
  </div>
  

</ion-content>
