<ion-content>
  <div class="fondo-login">
    <main class="contenedor">
      <h2 small-heading>Registro</h2>
      <ion-item transparent>
        <ion-input
          placeholder="Nombres"
          type="text"
          [(ngModel)]="nombres"
          id="valNombres"
        >
        </ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-input
          placeholder="Apellidos"
          type="text"
          [(ngModel)]="apellidos"
          id="valApellidos"
        ></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-input
          placeholder="Direccion"
          type="text"
          [(ngModel)]="direccion"
          id="valDireccion"
        ></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-input
          placeholder="Telefono"
          type="number"
          [(ngModel)]="telefono"
          id="valTelefono"
        ></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-input
          placeholder="Email"
          type="email"
          [(ngModel)]="email"
          id="valEmail"
        ></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-input
          placeholder="Contraseña"
          type="password"
          [(ngModel)]="password"
          id="valPassword"
        ></ion-input>
      </ion-item>

      <ion-button class="boton" shape="round" (click)="onSubmitRegister()"
        >Guardar</ion-button
      >
      <ion-button
        color="medium"
        class="boton"
        shape="round"
        [routerLink]="['/login']"
        >Volver
      </ion-button>
    </main>
  </div>
</ion-content>

<!--
<ion-content>
  <div class="center">
    <h2 small-heading>Registro</h2>

    <ion-item transparent>
      <ion-input placeholder="Nombres" type="text"></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-input placeholder="Apellidos" type="text"></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-input placeholder="Direccion" type="text"></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-input placeholder="Telefono" type="number"></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-input placeholder="Usuario" type="text"></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <div linespace></div>
    <ion-button
      color="primary"
      class="ion-button-class button-saved"
      shape="round"
      fill="solid"
      size="large"
      expand="block"
      >Guardar</ion-button
    >
    <ion-button
      color="medium"
      class="button-back"
      shape="round"
      fill="solid"
      size="large"
      expand="block"
      [routerLink]="['/login/']"
      >Volver
    </ion-button>
  </div>
</ion-content>
-->
